@model ColecticaSdkMvc.Models.QuestionModel
@{
    ViewBag.Title = "ItemType";
    Layout = "~/Views/Shared/_Layout.cshtml";
    TempData.Keep("myModel");
    <link href="@Url.Content("~/Content/Responsive-Card-Table.css")" rel="stylesheet" type="text/css" />
}

<style type="text/css">
    ul {
        list-style-type: none;
    }
</style>

<style>
    .tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
    }

        .tooltip .tooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: black;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            /* Position the tooltip */
            position: absolute;
            z-index: 1;
        }

        .tooltip:hover .tooltiptext {
            visibility: visible;
        }
</style>

<script type="text/javascript">
    function selectFolder(e) {
        var theFiles = e.target.files;
        var relativePath = theFiles[0].webkitRelativePath;
        var folder = relativePath.split("/");
        alert(folder[0]);
    }
</script>

<div style="margin-bottom:20px">
    <h3>Identifying Equivalent Variables</h3>
</div>

@using (Html.BeginForm("Display", "Variable", FormMethod.Post, new { enctype = "multipart/form-data", name = "MyForm", id = "SearchForm2" }))
{
    int itemCount = 0;
    int currentItem = 0;
    int currentCounter = 0;


    <input type="hidden" value="" name="selectedItems" id="selectedItems" style="margin-top:10px; width:100%; font-size:small" />
    @*<input value="" name="selectedQuestions" id="selectedQuestions" style="margin-top:10px; width:100%; font-size:small" />*@
    @*@Html.HiddenFor(x => x.EquivalenceSelection, new { style = "margin-top:10px; width:100%; font-size:small" })*@
    @Html.HiddenFor(x => x.EquivalenceSelection, new { style = "margin-top:10px; width:100%; font-size:small", @value = "@model.EquivalanceSelection" })
  
    if (Model.AllResults.Count() != 0)
    {

        <div style="border: 1px solid black; padding-top:10px">
            <table border="0" style="width:100%; margin-left:10px">
                <thead>
                    <tr>
                        <th align="left" style="width:2%">ID</th>
                        <th align="left" style="width:10%">Search Term</th>
                        <th align="left" style="width:7%">Variable Name</th>
                        <th align="left" style="width:35%">Variable Text</th>
                        <th align="left" style="width:3%">Agency</th>
                        <th align="left" style="width:19%">Study</th>
                        <th align="left" style="width:23%">Concept</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.AllResults.Count(); i++)
                    {
                        @Html.TextBoxFor(modelItem => Model.AllResults[i].uniqueId, new { style = "width:98%", @type = "hidden" })
                        @Html.TextBoxFor(modelItem => Model.AllResults[i].equivalence, new { style = "width:98%", @type = "hidden" })
                        @Html.TextBoxFor(modelItem => Model.AllResults[i].questionName, new { style = "width:98%", @type = "hidden" })
                        @Html.TextBoxFor(modelItem => Model.AllResults[i].questionText, new { style = "width:98%", @type = "hidden" })
                        @Html.TextBoxFor(modelItem => Model.AllResults[i].identifier, new { style = "width:98%", @type = "hidden" })
                        @Html.TextBoxFor(modelItem => Model.AllResults[i].questionItem, new { style = "width:98%", @type = "hidden" })
                        @Html.TextBoxFor(modelItem => Model.AllResults[i].studyGroup, new { style = "width:97%", @type = "hidden" })
                        @Html.TextBoxFor(modelItem => Model.AllResults[i].study, new { style = "width:98%", @type = "hidden" })
                        @Html.TextBoxFor(modelItem => Model.AllResults[i].concept, new { style = "width:98%", @type = "hidden" })
                        @Html.TextBoxFor(modelItem => Model.AllResults[i].column, new { style = "width:98%", @type = "hidden" })
                        @Html.TextBoxFor(modelItem => Model.AllResults[i].isdeprecated, new { style = "width:98%", @type = "hidden" })

                        itemCount++;
                        currentCounter++;
                        if (itemCount == 1) { currentItem = Model.AllResults[i].uniqueId; }
                        if (Model.AllResults[i].uniqueId != currentItem)
                        {
                            currentItem = Model.AllResults[i].uniqueId;
                            currentCounter = 1;
                            @Html.Raw("</tbody></table></div><div style=\"border: 1px solid black; margin-top:5px\"><table border=\"0\" style=\"width: 100%; margin-left:10px\"><tbody>");
                        }
                        <tr>
                            <td style="width:2%">
                                @if (currentCounter == 1)
                                {
                                    @Html.DisplayFor(modelItem => Model.AllResults[i].uniqueId, new { style = "width:98%" })
                                }
                            </td>
                            <td style="width:10%">
                                @if (currentCounter == 1)
                                {
                                    @Html.DisplayFor(modelItem => Model.AllResults[i].equivalence, new { style = "width:98%" })
                                }
                            </td>
                            <td style="width:7%">
                                @Html.DisplayFor(modelItem => Model.AllResults[i].questionName, new { style = "width:98%" })
                            </td>
                            <td style="width:35%">
                                @Html.DisplayFor(modelItem => Model.AllResults[i].questionText, new { style = "width:98%" })
                            </td>
                            @*<td style="width:22%">
                                @Html.DisplayFor(modelItem => Model.AllResults[i].questionItem, new { style = "width:98%" })
                            </td>*@
                            <td style="width:3%">
                                @Html.DisplayFor(modelItem => Model.AllResults[i].studyGroup, new { style = "width:98%" })
                            </td>
                            <td style="width:19%">
                                @Html.DisplayFor(modelItem => Model.AllResults[i].study, new { style = "width:98%" })
                            </td>
                            <td style="width:23%">
                                @Html.DisplayFor(modelItem => Model.AllResults[i].concept, new { style = "width:98%" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <input name="command" type="submit" value="Process" id="process" , style="float:right; font-size:small; margin:10px" />
            <input name="command" type="submit" value="Save CSV" id="save" , style="float:right; font-size:small; margin:10px" />
        </div>
    }
}
